{% extends "::layout/layout.html.twig" %}

{% set totalHT = 0 %}
{% set totalTTC = 0%}
{% set refTva = {} %}
{% for produit in produits %}
    {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : 0 }) %}
{% endfor %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="span3">

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig' %}
                {% else %}
                    {% include 'UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig' %}
                {% endif %}
            </div>

            <div class="span9">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <h2>Votre Menu</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Références</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Total HT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if produits|length == 0 %}
                        <tr>
                            <td colspan="4"><center>Aucun articles dans votre menu</center></td>
                        </tr>
                    {% endif %}
                    {% for produit in produits %}
                        <tr>
                            <form action="{{ path('ajouter', { 'id' : produit.id }) }}" method="get">
                                <td>{{ produit.nom }}</td>
                                <td>
                                    <select name="qte" class="span1" onChange="this.form.submit()">
                                        {% for i in 1..10 %}
                                            <option value="{{ i }}" {% if i == cmd[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>&nbsp;
                                    <a href="{{ path('supprimer', { 'id' : produit.id }) }}"><i class="icon-trash"></i></a>
                                </td>
                                <td>{{ produit.prix }} Dt</td>
                                <td>{{ produit.prix * cmd[produit.id] }} Dt</td>
                            </form>
                        </tr>
                        {% set totalHT = totalHT + (produit.prix * cmd[produit.id]) %}
                        {% set totalTTC = totalTTC + (produit.prix * cmd[produit.id])|tva(produit.tva.multiplicate) %}
                        {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : refTva['%' ~ produit.tva.valeur] + ( produit.prix * cmd[produit.id])|montantTva(produit.tva.multiplicate) }) %}
                    {% endfor %}
                    </tbody>
                </table>
                {% if produits|length != 0 %}
                    <dl class="dl-horizontal pull-right">
                        <dt>Total HT :</dt><dd>{{ totalHT }} Dt</dd>

                        {% for key, tva in refTva %}
                            <dt>TVA {{ key }} :</dt><dd>{{ tva }} Dt</dd>
                        {% endfor %}

                        <dt>Total TTC :</dt><dd>{{ totalTTC }} Dt</dd>
                    </dl><br><br>
                    <div class="clearfix"></div>
                    <a href="{{ path('reservationpage')}}" class="btn btn-success pull-right">Valider mon menu</a>
                {% endif %}
                {% for produit in produits %}
                    <a href="{{ path('listeProduits', { 'restaur' : produit.restaur.id }) }}" class="btn btn-primary">Continuer mes Réservations</a><br>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
