{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="span3">
                {% include '::modulesUsed/navigation.html.twig' %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig' %}
                {% else %}
                    {% include 'UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig' %}
                {% endif %}
            </div>
            <div class="span9">
                {% if restaurs|length != 0 %}
                    <ul class="thumbnails">
                        {% for restaur in restaurs %}
                            <li class="span3">
                                <div class="thumbnail">
                                    <img src="{{ restaur.image.path }}" alt="MobiRestau" width="300" height="200">
                                    <div class="caption">
                                        <h4>{{ restaur.nom }}</h4>
                                        <p>{{ restaur.categorie.nom }}</p>
                                        <a class="btn btn-primary" href="{{ path('presentationRST', { 'id' : restaur.id }) }}">Plus d'infos</a>
                                        <a class="btn btn-primary" href="{{ path('listeProduits', { 'restaur' : restaur.id }) }}">Liste des Produits</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="pagination">
                        <ul>
                            <li class="disabled"><span>Précédent</span></li>
                            <li class="disabled"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">Suivant</a></li>
                        </ul>
                    </div>
                {% else %}
                    Aucun restaurant
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
